footer{
    margin: 40px;
    color: blanchedalmond;
}
h1 {
    text-transform: capitalize;
    font-size: 63px;
    /*color: #303030*/
    padding: 18px;
    text-align: center;
}
h4{
    font-size: 24px;
    text-transform: capitalize;
    color:grey;
    font-weight: 600;
}
